* {
    padding: 0;
    margin: 0;
    font-family: 'DM+Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
}
.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}
a {
    text-decoration: none;
}
#header {
    padding: 40px 0;
    background: #FFF;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header-nav {
    display: flex;
    align-items: center;
    gap: 160px;
}

.header-btn {
    width: 211px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF7143;
    color: #FFF;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: 2s;
}

.header-btn:hover {
    background: #5454D4;
    transition: 2s;
    color: burlywood;
}

.btn {
    width: 211px;
    height: 60px;
    flex-shrink: 0;
    width: 211px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    border-radius: 10px;
    background: #5454D4;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left h1 {
    color: #19191B;
    font-family: 'DM Sans', sans-serif;
    font-size: 80px;
    font-weight: 700;
}
.hero-left p {
    color: #696871;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.logo{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* YASYN */
.metrics{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.metrics-info h1{
font-size: 50px;
font-weight: 700;
line-height: 57px;
letter-spacing: -1.563158392906189px;
text-align: left;
color: rgba(25, 25, 27, 1);
}
.metrics-info p{
    font-family: Mulish;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.6252632141113281px;
text-align: left;
}
.metrics-info a{
    font-family: DM Sans;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: -0.5314737558364868px;
text-align: left;

}
.metrics-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.choice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itself-choice{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.itself-choice h1{
    font-family: DM Sans;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: -0.7503160238265991px;
text-align: center;

}
.itself-choice p{
    font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.5002105832099915px;
text-align: center;

}